h1 {
    text-align: center;
    color: rgb(255, 145, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    padding-top: 10%;
    margin-left: 50px;
    font-size: xx-large;
    
}

h2 {
    text-align: left;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    margin-left: 55%;
    font-size: xx-large;

}

h3 {
    text-align: center;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    padding-top: 5%;
}

h4 {
    text-align: left;
    color: rgb(209, 52, 52);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2%;
}

header ul {
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    gap: 1em;
} 

header * {
    color: red;
    text-decoration: none;
    font-size: medium;
    margin-left: 0%;
}

.grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 20%;
}


 @media (min-width: 600px) {
    header ul {
        display: flex;
        padding: 10px 10px;
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        justify-content: flex-end;
        list-style: none;
        position: relative;
        gap: 1em;
    } 

    header * {
        color: red;
        text-decoration: none;
        font-size: medium;
        margin-left: 0%;
    }

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    p {
        margin-top: 110px;
        padding-right: 45px;
    }

    

    

} 
