@font-face {
    font-family: "superfunky";
    src: url(../super-funky-font/SuperFunky-lgmWw.ttf) format("woff2");
}


h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    /* margin-bottom: 30px; */
    /* padding-top: 10%; */
    /* margin-left: 50px; */
    font-size: xx-large;
    font-family: superfunky;
    
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: superfunky;
    margin-bottom: 30px;
    font-size: x-large;

}

h3 {
    text-align: center;
    color: red;
    font-family: superfunky;
    font-size: xx-large;
    padding-top: 5%;
}

h4 {
    text-align: center;
    color: rgb(209, 52, 52);
    font-size: x-large;
    font-family: superfunky;
    /* padding-top: 1%; */
}

header ul {
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    font-family: superfunky;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    gap: 1em;
} 

header * {
    color: red;
    text-decoration: none;
    font-size: medium;
    margin-left: 0%;
}


h5 {
    margin-top: 110px;
    padding-right: 45px;
    text-align: center;
    font-size: large;
}
.grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.forside-knap img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    grid-template-columns: auto;
}
/* forside */

.container {
    max-width:100%;
    display: grid;

}
.forside-pic {
    width: 100%;
    height:auto;
    order:2;
    display: flex;
    margin-bottom:3rem;
    border-radius: 20px;
}




 @media (min-width: 800px) {
    header ul {
        display: flex;
        padding: 10px 10px;
        text-decoration: none;
        font-family: superfunky;
        justify-content: flex-end;
        list-style: none;
        position: relative;
        gap: 1em;
    } 
    /* forside */

.container {
    position:relative;
    max-width:800px;
    margin-left:7rem;
}
.forside-pic {
    width: 70%;
    height:auto;
    display: block;
}

.text-overlay {
    /* ida mel */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-7%, -180%);
    text-align:center;
}
.text-overlay2 {
    /* portfolie */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(20%, -110%);
    text-align:center;
}

.grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 5rem;
    max-width: 100%;

}

    header * {
        color: red;
        text-decoration: none;
        font-size: medium;
        margin-left: 0%;
    }

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    p {
        margin-top: 110px;
        padding-right: 45px;
    }

    /* h5 {
        margin-top: 110px;
        padding-right: 45px;
        text-align: center;
        font-size: larger;
    } */

    

    

} 
